body {
  font-family: "Sriracha";
  background-color: #ddd;
}

.container-fluid {
  background-color: #ddd;
  padding-left: 0px;
  padding-right: 0px;
}
.container {
  padding-right: 5px;
}

.container-fluid .judul-web {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.container-fluid .provile {
  padding-top: 35px;
  justify-content: space-between;
  padding-top: 15px;
}

.container-fluid .provile-satu {
  background-image: url("aseet/provile.jpg");
  padding: 0px;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px white solid;
}

/* .container-fluid .provile-dua {
  width: 200px;
  height: 200px;
  background-color: gray;
  border-radius: 50%;
  border: 5px white solid;
} */

.container-fluid .conten-awal {
  text-align: center;
  padding-bottom: 15px;
}

.container-fluid .judul-galery {
  /* margin-top: 50px; */
  text-align: center;
}

.container-fluid .galery-gambar {
  justify-content: space-between;
  /* margin-bottom: 50px; */
}

.galery-gambar .kotak-gambar {
  /* background-color: rgb(112, 112, 112); */
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 2px rgb(138, 138, 138);
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}

.galery-gambar .kotak-gambar h6 {
  padding-top: 7px;
}

.kotak-gambar .icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-items: center;
}

.container-story-jempol {
  padding: 10px;
}

.container-story-jempol .frem-story-jempol {
  border: 3px solid black;
}

/* responsif web hp */
/* responsif web hp */
/* responsif web hp */
@media (max-width: 540px) {
  .container-fluid .conten-awal .conten-awal-awal p {
    text-align: center;
    padding: 5px;
  }

  .container .galery-gambar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .container .layarhp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 10px;
    margin-left: 2px;
  }

  .container-fluid .provile-satu {
    width: 100px;
    height: 100px;
  }

  .container-fluid .provile-dua {
    width: 100px;
    height: 100px;
  }
}

/* notif wa css */ /* notif wa css */ /* notif wa css */
.popup-notif {
  width: 100%;
  height: 100vh;
  /* background-color: rgba (0, 0, 0, 0.5); */
  position: fixed;
  display: none;
}

.notif {
  width: 400px;
  background-color: rgb(128, 128, 128);
  margin: 20px auto;
  border-radius: 8px;
  padding: 5px;
}

.notif .svg-wa {
  width: 20px;
  height: 20px;
  background-color: green;
}

.notif-atas {
  display: grid;
  grid-template-columns: 0.6fr 7fr 1fr;
}

.notif-bawah {
  border-top: 1px solid black;
  text-align: center;
}

/* Animasi pop up notif  */
/* Animasi pop up notif  */
/* Animasi pop up notif  */

/* ----------------------------------------------
 * Generated by Animista on 2022-8-6 11:4:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* animasi exit */
/* animasi exit */
/* animasi exit */
/* animasi exit */
/* animasi exit */

.slide-out-blurred-top {
  -webkit-animation: slide-out-blurred-top 0.55s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-top 0.55s cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-6 11:4:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
